<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabot Cup 2019</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container mt-4 content">
        <h2>2019 Cup</h2>
        <div class="row">
            <div class="col-md-6">
                <p>The 2019 Cabot Cup was the inaugural team cup, designed to be a Ryder Cup-style team match exhibition. This year's teams were the Sharks, captained by Hum, and the Flamingos, captained by DC. The format this year was an optional first day of alternate shot matches, a day of best ball matches, and a singles day to close. The Flamingos seized both matches this day, taking a 4-point lead into the best ball day. The next day's four matches were a different story, with the Sharks winning two of the matches, one match halved, and the Flamingos winning one. The score was Sharks - 5, and Flamingos - 7. On singles day, the Sharks were able to win five matches, tie one, and lose two. This was enough for the Sharks to win the first Cabot Cup with a final score of 10.5 - 9.5 with a singles comeback.</p>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="http://d18fc2989jrcic.cloudfront.net/2019_cup.jpg" alt="2019 cup" class="img-fluid">
                    <figcaption>The teams of the 2019 Cabot Cup</figcaption>
                </figure>
            </div>
        </div>
        <figure>
            <img src="http://d18fc2989jrcic.cloudfront.net/2019_cup_looking.JPEG" alt="2019 cup looking" class="img-fluid">
            <figcaption>Some Flamingos players planning out the 14th hole at links</figcaption>
        </figure>
        <figure>
            <img src="http://d18fc2989jrcic.cloudfront.net/2019_cup_ivan.JPG" alt="2019 cup looking" class="img-fluid">
            <figcaption>Ivan enjoying some champagne out of the cup</figcaption>
        </figure>
        
    </div>
</body>
</html>