<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabot Cup 2020</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container mt-4 content">
        <h2>2020 Cup</h2>
        <div class="row">
            <div class="col-md-6">
                <p>The “covid cup” year was a short field of twelve players, as the American contingent were banned from entering the country. It was the Hummingbirds, led by Alex, against the Sharks (sporting different shark shirts) led by Ivan.  The first day’s three alternate shot matches were dominated by the sharks, with a 2 - 1 match result putting them at 4 - 2 point advantage going into day two.  On best ball day, the story was the same with the sharks winning 2 - 1 again and due to the changed format awarding three points for best ball, expanding their lead to 10 - 5.  Going into singles day things looked bleak for the Hummingbirds.  By some miracle similar to the “Miracle at Medinah”, the Hummingbirds won every match that day, resulting in a 15 - 10 win for them.
                </p>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="https://cabot-cup-site.s3.amazonaws.com/2020_cup.jpg" alt="2020 cup" class="img-fluid">
                    <figcaption>The teams of the 2020 Cabot Cup</figcaption>
                </figure>
            </div>
        </div>
        <figure>
            <img src="https://cabot-cup-site.s3.amazonaws.com/2020_cup_captains.JPEG" alt="2020 cup face off" class="img-fluid">
            <figcaption>The captains facing off before the cup</figcaption>
        </figure>
        <figure>
            <img src="https://cabot-cup-site.s3.amazonaws.com/2020_cup_winners.JPG" alt="2020 cup looking" class="img-fluid">
            <figcaption>The winning Hummingbirds team.</figcaption>
        </figure>
        
    </div>
</body>
</html>