<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabot Cup 2021</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container mt-4 content">
        <h2>2021 Cup</h2>
        <div class="row">
            <div class="col-md-6">
                <p>Back to a full twenty person cup this year, the energy was electric to have a full Cabot cup again.  The Panthers, led by captain Ryan T, were against the Parrots, led by Dan G (Many players agreed they were the worst shirts in Cabot Cup history).  The first day of alternate shot ended in a  2 - 2 tie for the respective teams with the scores at 4 - 4. The second day was a victory for the Panthers, with them winning the best ball matches 3 - 1 - 1.   With the score sitting at 11.5 - 8.5 for the Panthers, the Parrots were looking for a Hummingbird-like comeback on the final day of singles. The Panthers stayed strong on singles day and were able to win the cup with a final score of 19.5 - 16.5. 
                </p>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="https://d18fc2989jrcic.cloudfront.net/2021_cup_pairing.JPG" alt="2021 pairing" class="img-fluid">
                    <figcaption>Some Parrots and Panthers before a match</figcaption>
                </figure>
            </div>
        </div>
        <figure>
            <img src="https://d18fc2989jrcic.cloudfront.net/2021_cup.JPEG" alt="2021 cup" class="img-fluid">
            <figcaption>The Bears enjoying champagne out of the cup while the Parrots observe </figcaption>
        </figure>
    </div>
</body>
</html>