<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabot Cup 2022</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container mt-4 content">
        <h2>2022 Cup</h2>
        <div class="row">
            <div class="col-md-6">
                <p>This year, the Cabot Cup was hosted by the Fox Harb’r resort.  The teams were the Turtles, captained by Mau, against the Moose Lead by Dan “McNiel” D. The first day was all about the Moose, with them going 3 - 1 to take a 6 - 2 point lead.  The Turtles struck back on the second day going 3 - 1 themselves to take a 11 - 9 point lead. The Turtles put on a performance on singles day to the tune of a 6 - 2 record, and a Cabot Cup record winning score of 23 - 13 for Mau and his Turtles.
                </p>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="http://d18fc2989jrcic.cloudfront.net/2022_cup.JPG" alt="2020 cup" class="img-fluid">
                    <figcaption>The teams of the 2022 Cabot Cup</figcaption>
                </figure>
            </div>
        </div>
        <figure>
            <img src="http://d18fc2989jrcic.cloudfront.net/2022_cup_fox.jpg" alt="Fox running" class="img-fluid">
            <figcaption>A Fox running around Fox Harb’r</figcaption>
        </figure>
        <figure>
            <img src="http://d18fc2989jrcic.cloudfront.net/2022_cup_winners.JPG" alt="2022 cup winners" class="img-fluid">
            <figcaption>The winning Turtles team</figcaption>
        </figure>
        
    </div>
</body>
</html>