<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabot Cup 2023</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container mt-4 content">
        <h2>2023 Cup</h2>
        <div class="row">
            <div class="col-md-6">
                <p>The 2023 Cup was played in the spring, and featured the Bears, captained by Ramy, against the Roosters, led by Retallick. The usual team polo was eschewed by the Bears in favor of a team hoodie. The first day of play, which was now best ball,  had the Bears devouring the Roosters in a 3 - 0 - 1 routing. The Roosters needed a big second day of best ball to stay competitive in this cup, but unfortunately for them lost all four matches, and the cup that day.  In Cabot Cup history this had never happened, so the singles matches were irrelevant.  Some healthy wagers were placed to incentivise play for singles day, and the matches this day were tied 4 - 4.  The official winning score was 30.5 - 9.5 for the Bears, breaking the Cup scoring record yet again.
                </p>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="https://cabot-cup-site.s3.amazonaws.com/2023_cup_range.JPG" alt="2023 cup teams" class="img-fluid">
                    <figcaption>The teams of the 2023 Cabot Cup warming up</figcaption>
                </figure>
            </div>
        </div>
        <figure>
            <img src="https://cabot-cup-site.s3.amazonaws.com/2023_cup_stuck.JPEG" alt="stuck" class="img-fluid">
            <figcaption>Player Sam finds his vehicle stuck on a mound after an off roading attempt</figcaption>
        </figure>
        <figure>
            <img src="https://cabot-cup-site.s3.amazonaws.com/2023_cup_winners.JPG" alt="2023 cup winners" class="img-fluid">
            <figcaption>The winning Bears team</figcaption>
        </figure>
        
    </div>
</body>
</html>