<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cabot Cup 2024</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/cosmo/bootstrap.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container mt-4 content">
      <h2>2024 Cup</h2>
      <div class="row">
        <div class="col-md-6">
          <p>
            The 2024 Cup featured an exciting matchup between the Lumberjacks
            and the Cabanas. The tournament began with alternate shot format
            where the Cabanas took an early lead, winning 2 matches to 1, with
            one match halved. Going into the best ball rounds, the Lumberjacks
            bounced back strongly, winning 3 out of 4 matches, turning the tide
            in their favor. The singles matches on the final day were fiercely
            contested, with the Lumberjacks winning 4 matches to the Cabanas' 4.
            Despite the best effort of the Marshall at Fox Harb'r, the players
            had an excellent day. With a final score of 8-7-1, and despite the
            questionable shirt choice, the Lumberjacks claimed victory in a
            tournament that showcased Mau and Walkers ability to put away the
            fireballs.
          </p>
        </div>
        <div class="col-md-6">
          <figure>
            <img
              src="https://d18fc2989jrcic.cloudfront.net/2024_cup.jpg"
              alt="2024 cup teams"
              class="img-fluid"
            />
            <figcaption>The teams of the 2024 Cabot Cup</figcaption>
          </figure>
        </div>
      </div>
      <figure>
        <img
          src="https://d18fc2989jrcic.cloudfront.net/2024_cup_ryan_w.jpg"
          alt="Ryan W celebrating"
          class="img-fluid"
        />
        <figcaption>Ryan W celebrating as Captain</figcaption>
      </figure>
      <figure>
        <img
          src="https://d18fc2989jrcic.cloudfront.net/2024_cup_mau_baby.JPG"
          alt="Mau biggest baby"
          class="img-fluid"
        />
        <figcaption>
          Mau with a runaway win of the biggest baby award.
        </figcaption>
      </figure>
      <figure>
        <img
          src="https://d18fc2989jrcic.cloudfront.net/2024_cup_tee.jpg"
          alt="2024 tee shot"
          class="img-fluid"
        />
        <figcaption>
          Some Lumberjacks and Cabanas prepare to face off
        </figcaption>
      </figure>
    </div>
  </body>
</html>
