<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Format</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container mt-4 content">
        <h2>Format</h2>
        <div class="row">
            <div class="col-md-6">
                <p>The format of the Cabot Cup is modeled on the Ryder cup. Two teams of eight players play a set of three matches, and the team with the most points at the end wins. The structure of the matches has evolved over the years, with the first day's alternate shot being replaced by best ball in the 2023 cup.  Alternate shot may make a return in following years, but for now it is best ball matches the first two days, and singles the last. Each of the best ball games are two teams of two, playing a match where the lowest net score of a player per team is the team’s score.  Singles is simply one golfer vs each other, in classic match play. Each best ball game is worth three points, and each singles game is worth two, so the most important day is singles day in regards to points. </p>
                <p>The teams are picked each year in a draft by the captains. Until recently this was a secret draft, but a public draft has been an amusing and enjoyable part of the cup recently.  The captains are appointed each year by the previous year's captains, overseen by the Cabot Executive Board. </p>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="https://cabot-cup-site.s3.amazonaws.com/rules_competing.jpg" alt="2022 cup teams" class="img-fluid">
                    <figcaption>Sam, McNeil, Mau, Walker before a best ball match at Fox Harb'r</figcaption>
                </figure>
            </div>
        </div>
        <figure>
            <img src="https://cabot-cup-site.s3.amazonaws.com/sunset.jpg" alt="suset" class="img-fluid">
            <figcaption>Sunset on #14 at Cliffs</figcaption>
        </figure>
    </div>
</body>
</html>