.golfer-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
}
.golfer-image {
    max-width: 20%;
    border-radius: 50%;
    margin-right: 20px; 
}

.golfer-info {
    flex-grow: 1; 
    text-align: left;
}


@media (max-width: 768px) {
    .golfer-image {
        max-width: 100%; 
        margin-right: 0; 
        margin-bottom: 10px; 
    }

    .golfer-info {
        order: -1; 
    }
}
.content {
    max-width: 90%;
    margin: auto;
}

.content img {
    max-width: 100%;
    height: auto;
}
.bet-container {
    display: flex;
    justify-content: center;
    align-items: center;
}