<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Performance Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <canvas id="teamPerformanceChart" height="600" style="overflow: auto;"></canvas>

    <script>
        var golfersData = <%- JSON.stringify(golfers) %>;

        var golferNames = golfersData.map(function (golfer) {
            return golfer.name;
        });

        var teamWins = golfersData.map(function (golfer) {
            return golfer.teamWins;
        });

        var teamLoss = golfersData.map(function (golfer) {
            return golfer.teamLoss;
        });

        var ctx = document.getElementById('teamPerformanceChart').getContext('2d');

        function updateChart() {
            var screenWidth = window.innerWidth;
            return screenWidth <= 767 ? 'y' : 'x';
        }

        var teamPerformanceChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: golferNames,
                datasets: [
                    {
                        label: 'Team Wins',
                        data: teamWins,
                        backgroundColor: 'rgba(75, 192, 192, 1)'
                    },
                    {
                        label: 'Team Loss',
                        data: teamLoss,
                        backgroundColor: 'rgba(255, 99, 132, 1)'
                    }
                ]
            },
            options: {
                indexAxis: updateChart(),
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Team Wins / Loss',
                        padding: {
                            top: 10,
                            bottom: 10
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>
